.qualification__container {
    max-width: 768px;
    margin: 0 auto;
    padding: 2rem;
}

.qualification__tabs {
    display: flex;
    justify-content: center;
    
    margin-bottom: var(--mb-2);
}

.qualification__button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--qual-color);
    
    cursor: pointer;
    margin: 0 1.5rem;
    display: flex;
    align-items: center;
    position: relative;
}

.qualification__button:hover {
    color: var(--hover-color);
}

.qualification__icon {
    font-size: 1.58rem;
    margin-right: var(--mb-2);
}

.qualification_sections {
    display: flex;
    
    flex-direction: column;
}

.qualification_content {
    display: flex;
    flex-direction: column;
    
    gap: 1.5rem;
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
}

.qualification_data {
    display: flex;
    margin-right: 10px;
    
    align-items: flex-start;
    position: relative;
    justify-content: flex-start;
}

.qualification_data:nth-child(even) {
    justify-content: flex-end;
    
}

.qualification_title_container,
.qualification_subtitle_container,
.qualification_calender_container {
    margin-bottom: var(--mb-2);
    
}

.qualification_title {
    font-size: 1rem;
    font-weight: var(--font-medium);
    color: var(--qual-color);
    margin-bottom: 0.5rem;
    
}

.qualification_subtitle {
    font-size: 0.825rem;
    color: var(--qual-color);
    margin-top: 0.5rem;
}

.qualification__calender {
    font-size: 0.7rem;
    color: #a1a1a1;
    margin-top: 0.5rem;
}

.qualification_rounder {
    width: 30px;
    height: 30px;
    background-color: var(--qual-color);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: lightUpFade 2s infinite;

}

.qualification_info {
    width: 200px;
    margin: 1rem;
    margin-left: 1rem; /* Add specific left margin */
    background-color: rgb(70, 65, 65, 0.4);
    border-radius: 10px;
    padding: 15px;

    

}

.qualification_line {
    width: 2px;
    height: 100%;
    background-color: var(--qual-color);
    position: absolute;
    left: 50%;
    top: 1.5rem;
    transform: translateX(-50%);

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: lightUpFade 2s infinite;
}

@keyframes lightUpFade {
    0% {
        background-color: var(--qual-color); /* Original color */
    }
    50% {
        background-color: rgb(70, 65, 65, 0.9); /* Highlighted color */
    }
    100% {
        background-color: var(--qual-color); /* Back to original color */
    }
}


.qualification__tabs {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

/* Responsive adjustments for screens smaller than 600px */
@media (max-width: 600px) {
    .qualification__container {
        max-width: 100%; /* Make container full width */
        padding: 1rem; /* Reduce padding for smaller screens */
    }

    .qualification__tabs {
        margin-bottom: 2rem;
    }

    .qualification__button {
        font-size: calc(var(--h3-font-size) ); /* Make button text smaller */
        margin: 0.5rem 2; /* Reduce margin for buttons in vertical stack */
    }

    .qualification__icon {
        font-size: 1.0rem; /* Smaller icon size */
    }

    .qualification_content {
        padding-left: 1rem; /* Reduce padding for smaller screens */
        padding-right: 1rem;
    }

    .qualification_data {
        flex-direction: riof; /* Stack the data vertically */
        gap: 1rem; /* Add gap between stacked items */
    }
}



@media (max-width: 100vw) {
    .qualification__container {
        max-width: 95%; /* Reduce the container width to 95% on small screens */
        padding: 10rem; /* Optional: reduce padding to save space */

    }

    .qualification_info {
        width: 300px; /* Adjust the width of the info element on smaller screens */
        margin: 0.8rem;
        
    }


    .qualification_title {
        
        font-size: 1rem;

    }
    .qualification_subtitle {
        font-size: 1rem;

    }
    .qualification__calender{
        font-size: 8pt;
    }
  }

  
@media (max-width: 1000px) {
    .qualification__container {
        max-width: 95%; /* Reduce the container width to 95% on small screens */
        padding: 6rem; /* Optional: reduce padding to save space */

    }

    .qualification_info {
        width: 300px; /* Adjust the width of the info element on smaller screens */
        margin: 0.8rem;
        
    }


    .qualification_title {
        
        font-size: 1rem;

    }
    .qualification_subtitle {
        font-size: 1rem;

    }
    .qualification__calender{
        font-size: 8pt;
    }
  }




  

@media (max-width: 1024px) {
    .qualification__container {
        max-width: 95%; /* Reduce the container width to 95% on small screens */
        padding: 2rem; /* Optional: reduce padding to save space */

    }

    .qualification_info {
        width: 140px; /* Adjust the width of the info element on smaller screens */
        margin: 0.8rem;
        
    }


    .qualification_title {
        
        font-size: 1rem;

    }
    .qualification_subtitle {
        font-size: 1rem;

    }
    .qualification__calender{
        font-size: 8pt;
    }

}


@media (max-width: 600px) {
    .qualification__container {
        max-width: 95%; /* Reduce the container width to 95% on small screens */
        padding: -1rem; /* Optional: reduce padding to save space */

    }

    .qualification_info {
        width: 85px; /* Adjust the width of the info element on smaller screens */
        margin-left: -0.5rem; /* Add specific left margin */
        margin-right: -0.5rem; /* Add specific left margin */

    }


    .qualification_title {
        font-size: .70rem;

    }
    .qualification_subtitle {
        font-size: 0.65rem;

    }
    .qualification__calender{
        font-size: 0.6rem;
    }

}
